/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Keymap Padrão do ZMK para Corne
 * Documentação: https://zmk.dev/docs/keymaps
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV 1
#define FUN 2
#define NUM 3
#define GAME 4
#define DOTA 5
#define FNGAME 6
#define MOUSE 7
#define MEDIA 8
#define SYS 9
#define QUICK_TAP_MS 175
#define KEYS_R 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35
#define KEYS_L 0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29
#define THUMBS 39 40 41 36 37 38

&mt {
    flavor = "tap-preferred";
    tapping-term-ms = <220>;
    quick-tap-ms = <220>;
    hold-trigger-key-positions = <0>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <QUICK_TAP_MS>;
};

&sk {
    release-after-ms = <900>; // release-after 0.9s
    quick-release; // no double capitalizations
};

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods_left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-key-positions = <KEYS_R THUMBS>;
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <QUICK_TAP_MS>;
            flavor = "balanced";
            hold-trigger-on-release;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <KEYS_L THUMBS>;
        };

        mt_home: mt_home {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_HOME";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <220>;
            hold-trigger-key-positions = <0>;
            flavor = "tap-preferred";
        };

        bs_delete: bs_delete {
            compatible = "zmk,behavior-mod-morph";
            label = "BS_DELETE";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        smart_shift: smart_shift {
            compatible = "zmk,behavior-mod-morph";
            label = "SMART_SHIFT";
            bindings = <&sk LEFT_SHIFT>, <&caps_word>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        mt_end: mt_end {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_END";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <220>;
            hold-trigger-key-positions = <0>;
            flavor = "tap-preferred";
        };

        copy_cut: copy_cut {
            compatible = "zmk,behavior-tap-dance";
            label = "COPY_CUT";
            #binding-cells = <0>;
            bindings = <&kp LC(INS)>, <&kp LC(X)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        dota {
            bindings = <&tog DOTA>;
            key-positions = <21 22>;
            layers = <GAME DOTA>;
        };

        copy {
            bindings = <&copy_cut>;
            key-positions = <26 27>;
            layers = <BASE NUM GAME MOUSE>;
            require-prior-idle-ms = <150>;
        };

        paste {
            bindings = <&kp LS(INS)>;
            key-positions = <27 28>;
            layers = <BASE NUM GAME MOUSE>;
            timeout-ms = <18>;
            require-prior-idle-ms = <150>;
        };

        mouse {
            bindings = <&tog MOUSE>;
            key-positions = <4 2>;
            layers = <BASE GAME MOUSE>;
            require-prior-idle-ms = <150>;
        };

        alt+insert {
            bindings = <&kp LA(INSERT)>;
            key-positions = <15 16>;
            require-prior-idle-ms = <150>;
            layers = <BASE>;
        };

        sys_left {
            bindings = <&tog SYS>;
            key-positions = <0 12>;
            layers = <BASE>;
            timeout-ms = <35>;
            require-prior-idle-ms = <150>;
        };

        sys_right {
            bindings = <&tog SYS>;
            key-positions = <11 23>;
            layers = <BASE>;
            timeout-ms = <35>;
            require-prior-idle-ms = <150>;
        };

        dongle_bootloader {
            bindings = <&bootloader>;
            key-positions = <1 2>;
            layers = <SYS>;
            timeout-ms = <50>;
            require-prior-idle-ms = <150>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";

            // |  ▽  |  Q  | W/C-F2 |  E  |  R  |  T  |   | Y/S-F6 |  U  |  I  | O/S-F9 |  P  |  ▽   |
            // |  ▽  |  A  | S/SFT  |D/CTRL| F/ALT|G/GUI|   | H/GUI  |J/ALT|K/CTRL| L/SFT  |  ;  |  '   |
            // |  ▽  |  Z  |   X    |  C  |  V  |  B  |   |   N    |  M  |  ,  |   .    |  /  |SFT/CW|
            //                       |ESC/FN|GUI/NAV|TAB/NUM| |ENT/MED|SPACE|BSPC/DEL|

            bindings = <
&trans  &kp Q  &mt RC(F2) W       &kp E                &kp R             &kp T              &mt LS(F6) Y     &kp U            &kp I                &mt LS(F9) O       &kp P     &trans
&trans  &kp A  &hml LEFT_SHIFT S  &hml LEFT_CONTROL D  &hml LEFT_ALT F   &hml LEFT_GUI G    &hmr LEFT_GUI H  &hmr LEFT_ALT J  &hmr LEFT_CONTROL K  &hmr LEFT_SHIFT L  &kp SEMI  &kp SQT
&trans  &kp Z  &kp X              &kp C                &kp V             &kp B              &kp N            &kp M            &kp COMMA            &kp DOT            &kp FSLH  &smart_shift
                                  &lt FUN ESCAPE       &lt NAV LEFT_GUI  &lt NUM TAB        &lt MEDIA ENTER  &kp SPACE        &bs_delete
            >;
        };

        navigation {
            display-name = "nav";

            // |  ~  |  !  |  @  |  #  |  $  |  %  |   |  ^   |  &  |  (/* |  )  |  -/_ |  +/= |
            // |A-F4 |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |←/HOME|  ↓  |  ↑   |→/END|  [   |   ]  |
            // |C-GUI|  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   | HOME |PGDN | PGUP | END  | INS  | CAPS |
            //                    |  ▽  |  ▽  |  ▽  |   | ENTER|  ▽  | RALT |

            bindings = <
&kp TILDE         &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET           &kp AMPERSAND  &mt ASTERISK LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &mt UNDER MINUS   &mt EQUAL PLUS
&kp LA(F4)        &trans    &trans  &trans    &trans      &trans         &mt_home HOME LEFT  &kp DOWN       &kp UP                         &mt_end END RIGHT      &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LC(LEFT_GUI)  &trans    &trans  &trans    &trans      &trans         &kp HOME            &kp PAGE_DOWN  &kp PAGE_UP                    &kp END                &kp INSERT        &kp CAPSLOCK
                                    &trans    &trans      &trans         &kp RET             &trans         &kp RALT
            >;
        };

        function {
            display-name = "fn";

            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |  ▽  | F7 | F8 | F9 | F12|  ▽  |
            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |  ▽  | F4 | F5 | F6 | F11|  ▽  |
            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |PSCRN| F1 | F2 | F3 | F10|  ▽  |
            //                    |  ▽  |  ▽  |  ▽  |   |  ▽  |SPACE| APP |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans           &kp F7     &kp F8             &kp F9  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans           &kp F4     &kp F5             &kp F6  &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp PRINTSCREEN  &kp F1     &kp F2             &kp F3  &kp F10  &trans
                        &trans  &trans  &trans    &trans           &kp SPACE  &kp K_APPLICATION
            >;
        };

        numbers {
            display-name = "num";

            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |  ▽  |  7  |  8  |  9  |  [  |  ]  |
            // | SFT |  ▽  |SK-SFT|  ▽  |  ▽  |  ▽  |   |  =  |  4  |  5  |  6  |  {  |  }  |
            // |CTRL |  ▽  |  ▽  |  ▽  |  ▽  | GAME|   |  \  |  1  |  2  |  3  | KP, |  ▽  |
            //                    |  ▽  |  ▽  |  ▽  |   |  -  |  0  |  .  |

            bindings = <
&trans     &trans  &trans          &trans  &trans  &trans       &trans         &kp N7        &kp N8   &kp N9  &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp LSHFT  &trans  &sk LEFT_SHIFT  &trans  &trans  &trans       &kp EQUAL      &kp N4        &kp N5   &kp N6  &kp LEFT_BRACE    &kp RIGHT_BRACE
&kp LCTRL  &trans  &trans          &trans  &trans  &tog GAME    &kp BACKSLASH  &kp N1        &kp N2   &kp N3  &kp KP_COMMA      &trans
                                   &trans  &trans  &trans       &kp KP_MINUS   &kp NUMBER_0  &kp DOT
            >;
        };

        game {
            display-name = "game";

            // | ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  |  ▽  |
            // | SFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '  |
            // |CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |  ▽  |
            //                    |ESC/FNG|SPACE| TAB |   |ENTER|  ▽  |  ▽  |

            bindings = <
&kp ESC    &kp Q  &kp W  &kp E           &kp R      &kp T      &kp Y    &kp U   &kp I      &kp O    &kp P     &trans
&kp LSHFT  &kp A  &kp S  &kp D           &kp F      &kp G      &kp H    &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C           &kp V      &kp B      &kp N    &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                         &lt FNGAME ESC  &kp SPACE  &kp TAB    &kp RET  &trans  &trans
            >;
        };

        dota {
            display-name = "dota";

            // |  ▽  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  |BSPC |
            // |  ▽  |  A  |  S  |D/CTRL|F/ALT|  G  |   |  H  |  J  |  K  |  L  |  ;  |  '  |
            // |  ▽  |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |ENTER|
            //                    | SFT |SPC/FNG| TAB |   |ENTER|SPACE| F8  |

            bindings = <
&trans  &kp Q  &kp W  &kp E                &kp R             &kp T      &kp Y    &kp U      &kp I      &kp O    &kp P     &kp BACKSPACE
&trans  &kp A  &kp S  &hml LEFT_CONTROL D  &hml LEFT_ALT F   &kp G      &kp H    &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&trans  &kp Z  &kp X  &kp C                &kp V             &kp B      &kp N    &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ENTER
                      &kp LEFT_SHIFT       &lt FNGAME SPACE  &kp TAB    &kp RET  &kp SPACE  &kp F8
            >;
        };

        fngame {
            display-name = "fngame";

            // | F12 |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | GAME|
            // | F11 | F6  | F7  | F8  | F9  | F10 |   |  ▽  |  4  |  5  |  6  |  ▽  |  ▽  |
            // |  ▽  | F1  | F2  | F3  | F4  | F5  |   |  0  |  1  |  2  |  3  |  ▽  |  ▽  |
            //                    |  ▽  |  ▽  |  ▽  |   |  ▽  |  0  |  ▽  |

            bindings = <
&kp F12  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5     &kp N6  &kp N7        &kp N8  &kp N9  &kp N0  &tog GAME
&kp F11  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10    &trans  &kp N4        &kp N5  &kp N6  &trans  &trans
&trans   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp N0  &kp N1        &kp N2  &kp N3  &trans  &trans
                         &trans  &trans  &trans     &trans  &kp NUMBER_0  &trans
            >;
        };

        mouse {
            display-name = "mouse";

            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |
            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   | M←  | M↓  | M↑  | M→  |  ▽  |  ▽  |
            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |
            //                    |  ▽  |  ▽  |  ▽  |   |LCLK |RCLK |MCLK |

            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans          &trans        &trans           &trans  &trans
                        &trans  &trans  &trans    &mkp LCLK       &mkp RCLK       &mkp MCLK
            >;
        };

        media {
            display-name = "media";

            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  | OUT |   |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |
            // |  ▽  |  ▽  |NEXT |VOL+ |VOL- |PREV |   |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |
            // |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |   |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |  ▽  |
            //                    |MUTE |PLAY |STOP |   |  ▽  |  ▽  |  ▽  |

            bindings = <
&trans  &trans  &trans      &trans           &trans             &out OUT_TOG      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp K_NEXT  &kp C_VOLUME_UP  &kp C_VOLUME_DOWN  &kp K_PREVIOUS    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans      &trans           &trans             &trans            &trans  &trans  &trans  &trans  &trans  &trans
                            &kp K_MUTE       &kp K_PLAY_PAUSE   &kp K_STOP        &trans  &trans  &trans
            >;
        };

        system {
            display-name = "sys";

            // |BOOT-L| DBL | DBL |  ·  |  ·  | OUT |   | BT1 | BT2 | BT3 | BT4 | BT5 |BOOT-R|
            // |RST-L |  ·  |  ·  |  ·  |  ·  |  ·  |   | CLR |CLR-A|  ·  |  ·  |  ·  |RST-R |
            // |OFF   |  ·  |  ·  |  ·  |  ·  |  ·  |   |  ·  |  ·  |  ·  |  ·  |  ·  |OFF   |
            //                    | EXIT|  ·  |  ·  |   |  ·  |  ·  | EXIT|

            bindings = <
&bootloader  &none  &none  &none  &none   &out OUT_TOG    &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bootloader
&sys_reset   &none  &none  &none  &none   &none           &bt BT_CLR    &bt BT_CLR_ALL  &none         &none         &none         &sys_reset
&soft_off    &none  &none  &none  &none   &none           &none         &none           &none         &none         &none         &soft_off
                           &none  &tog 9  &none           &none         &tog 9          &none
            >;
        };
    };
};

/* vim: set ft=c tw=146: */
